<img class="svg header margin-b-4x" src="assets/images/bg-header-desktop.svg" />

<mat-card *ngIf="chips.length" class="filter">
  <mat-chip-list>
    <mat-chip *ngFor="let chip of chips" [selectable]="true" [removable]="true" (removed)="remove(chip)">
      {{chip}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <span class="clear" (click)="clearFilter()">Clear</span>
</mat-card>

<mat-card class="job-container margin-2x" [ngClass]="{'mat-elevation-z6 featured-job': item.featured}"
  *ngFor="let item of filteredData">
  <div class="job-info">
    <img src="assets/images/{{item.logo}}" />
    <div class="job-primary-info">
      <div class="job-company-info">
        <span class="company">{{item.company}}</span>
        <mat-chip-list>
          <mat-chip *ngIf="item.new" class="new">NEW!</mat-chip>
          <mat-chip *ngIf="item.featured" class="featured">FEATURED</mat-chip>
        </mat-chip-list>
      </div>
      <div class="position">{{item.position}}</div>
      <div class="job-secondary-info">
        <span>{{item.postedAt}}</span>
        <mat-icon class="separator-icon">fiber_manual_record</mat-icon>
        <span>{{item.contract}}</span>
        <mat-icon class="separator-icon">fiber_manual_record</mat-icon>
        <span>{{item.location}}</span>
      </div>
    </div>
  </div>
  <div class="job-requirements">
    <mat-chip-list>
      <mat-chip class="box" (click)="add('role', item.role)">{{item.role}}</mat-chip>
      <mat-chip class="box" (click)="add('level', item.level)">{{item.level}}</mat-chip>
      <mat-chip *ngFor="let language of item.languages" class="box" (click)="add('languages', language)">{{language}}</mat-chip>
      <mat-chip *ngFor="let tool of item.tools" class="box" (click)="add('tools', tool)">{{tool}}</mat-chip>
    </mat-chip-list>
  </div>
</mat-card>